* text=auto
*.md text eol=lf
*.py text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
# Project version: SentinelX V1.6





